@import "menu-mobile.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Navbar */
body {
  overflow-x: hidden;
  background-color: #88abdb;
}

a {
  text-decoration: none;
  color: #333;
}
.container-nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #88abdb;
  width: 100%;
  height: 8%;
  z-index: 5;
}
.container-nav .nav-itens {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
  transition: 0.5s ease-in;
}
.container-nav .nav-item {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: 350ms;
  cursor: pointer;
}

.nav-item:hover {
  border-bottom: 1px solid #333;
}

/* Page home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100vh;
  background-color: #333;
}
.home .container-home {
  color: #88abdb;
  font-size: 1.6rem;
  width: 25%;
}
.home .container-home h1 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
.home .container-home h2 {
  font-weight: 500;
}
.home .container-home p {
  color: #fff;
  letter-spacing: 1px;
}

.home .buttons-container {
  display: flex;
  text-align: center;
  margin-top: 30px;
  gap: 20px;
}

.home .buttons-container a {
  color: #fff;
  font-size: 1.1rem;
  padding: 14px 20px;
  border: 1px solid #88abdb;
  border-radius: 10px;
  cursor: pointer;
  transition: 350ms;
  text-decoration: none;
}
.home .buttons-container a:hover {
  background-color: #88abdb;
  color: white;
}

.container-home-button img {
  color: #333;
  margin-right: 0.1rem;
  width: 30px;
  height: 25px;
}

.image-right img {
  width: 100%;
  max-width: 500px;
  animation: float 8s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 893px) {
  .home .image-right img {
    display: none;
  }
}

@media (max-width: 600px) {
  .home .container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* About */
.about {
  background-color: #88abdb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.container-about {
  background-color: rgba(255, 255, 255, 0.185);
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  padding: 20px;
  margin-top: -100px;
}
.container-about h1 {
  text-align: center;
  text-transform: uppercase;
}
.about img {
  margin-right: 20px;
  height: 300px;
  width: 330px;
  border-radius: 50%;
}
.about img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.6s;
}
.about .btn {
  margin-top: 20px;
}

.about .btn img {
  width: 20px;
  height: 20px;
}

.btn .container-about-button a {
  color: #333;
  font-size: 1.2rem;
  padding: 14px 20px;
  border: 1px solid #88abdb;
  border-radius: 10px;
  cursor: pointer;
  transition: 350ms;
  text-decoration: none;
}
.about .btn a:hover {
  background-color: #88abdb;
  color: white;
}

@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about .container-about {
    margin: 6px 0px;
  }
  .about .image {
    margin-top: 40px;
  }
}

@media screen and (max-width: 640px) {
  .about {
    height: 100%;
  }

  .about img {
    height: 200px;
    width: 230px;
  }
}

/* Skill */
.container-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #88abdb;
  height: 100%;
  min-height: 35vh;
}

.container-skill h1 {
  margin-top: 2rem;
}
.container-skill .cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
}

.container-skill .cards .box {
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.185);
  width: 120px;
  margin: 10px;
  border-radius: 10px;
}
.container-skill .cards .box p {
  margin: 0.3rem 0rem;
}

.container-skill .cards .box img {
  font-size: 3rem;
  height: 45px;
  width: 45px;
}

.container-skill .cards .box:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.6s;
}
.container-skill .container-tool {
  display: flex;
  flex-direction: column;
  width: 380px;
}
.container-skill .container-tool h1 {
  text-align: center;
}
.container-skill .container-tool .tool {
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 10px;
}

@media screen and (max-width: 685px) {
  .container-skill .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0% 22%;
  }
}

@media screen and (max-width: 600px) {
  .container-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Projeto */
.project {
  height: 100%;
  background-color: #333;
}

.project_left h2 {
  color: #fff;

  margin-left: 40px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #88abdb, transparent);
  width: 30%;
}
.project h1 {
  text-align: center;
  color: #fff;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 20px;
  margin-left: 40px;
}

.project-container img {
  width: 100%;
  max-width: 500px;
  max-height: 250px;
  opacity: 0.6;
}
.project-container img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.6s;
  opacity: 1;
}

.project-container h3 {
  color: #fff;
}
.project p {
  line-height: 2rem;
  color: #fff;
}
.project .project-container span {
  color: #88abdb;
}
.project .btn-project {
  margin: 1.2rem 0rem;
}

.btn-project img {
  height: 20px;
  width: 20px;
}

.project .btn-project a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.185);
  font-size: 1.1rem;
  padding: 14px 20px;
  border: 1px solid #88abdb;
  border-radius: 10px;
  cursor: pointer;
  transition: 350ms;
  text-decoration: none;
}
.project .btn-project a:hover {
  background-color: #88abdb;
  color: white;
}
.project .btn-project a svg {
  margin: 0rem 0.4rem;
}

.all_project {
  background-color: #333;
  height: 100vh;
}

.container_all_project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 40px;
}

.all_project h2 {
  color: #fff;
  margin-left: 40px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #88abdb, transparent);
  width: 30%;
}

.project-container p {
  line-height: 2rem;
  color: #fff;
}

.container_all_project .project-container span {
  color: #88abdb;
}

.project-container .btn-project a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.185);
  font-size: 1.1rem;
  padding: 14px 20px;
  border: 1px solid #88abdb;
  border-radius: 10px;
  cursor: pointer;
  transition: 350ms;
  text-decoration: none;
}
.project-container .btn-project a:hover {
  background-color: #88abdb;
  color: white;
}
.btn-project {
  margin: 1rem 0rem;
}

@media screen and (max-width: 1200px) {
  .container-cards,
  .container_all_project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 22%;
  }

  .project-container {
    width: 100%;
    margin: 1rem 0rem;
  }

  .all_project {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container-cards,
  .container_all_project {
    margin: 0;
  }

  .project-container,
  .all_project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .all_project h2 {
    white-space: nowrap;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .project-container {
    margin-bottom: 10px;
  }

  .project-container img {
    max-width: 300px;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #88abdb;
  font-weight: 500;
}
.footer span {
  color: #ddd;
}

/* animation */
[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="safe"] {
  transform: translate3d(0, -50px, 0);
}

[data-anime="ocult"] {
  transform: translate3d(0, 0, 0);
  transition-delay: 0.5s;
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  background-color: #88abdb;
  border-radius: 20px;
  border: 1px solid #ddd;
}
