@import "menu-mobile.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}
/* Navbar */
body {
  overflow-x: hidden;
}

.container-nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #88abdb;
  width: 100%;
  height: 8%;
  z-index: 5;
}

.container-nav img {
  height: 40px;
  width: 40px;
}

.container-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: 350ms;
  color: #333;

  margin: 0rem 1rem;
}

.container-nav .nav-itens {
  display: flex;
  list-style: none;
}

.container-nav a:hover {
  border-bottom: 1px solid #333;
}

/* Page home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100vh;
  background-color: #333;
}
.home .container-home {
  color: #88abdb;
  font-size: 1.6rem;
  width: 25%;
}
.home .container-home h1 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
.home .container-home h2 {
  font-weight: 500;
}
.home .container-home p {
  color: #fff;
  letter-spacing: 1px;
}

.home .buttons-container {
  display: flex;
  text-align: center;
  margin-top: 30px;
  gap: 20px;
}

.home .buttons-container a {
  color: #fff;
  font-size: 1.1rem;
  padding: 14px 20px;
  border: 1px solid #88abdb;
  border-radius: 10px;
  cursor: pointer;
  transition: 350ms;
  text-decoration: none;
}
.home .buttons-container a:hover {
  background-color: #88abdb;
  color: white;
}

.container-home-button img {
  color: #333;
  margin-right: 0.1rem;
  width: 30px;
  height: 25px;
}

.image-right img {
  width: 100%;
  max-width: 500px;
  animation: float 8s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 893px) {
  .home .image-right img {
    display: none;
  }
}

@media (max-width: 600px) {
  .home .container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* About */
.about {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 70vh;
}

.container-about {
  background-color: rgba(255, 255, 255, 0.185);
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  padding: 20px;
}
.container-about h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.container-about h4 {
  color: #fff;
}

.container-about p {
  color: #fff;
  line-height: 200%;
}
.about img {
  margin-right: 20px;
  height: 300px;
  width: 330px;
  border-radius: 50%;
}
.about img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.6s;
}
.about .btn {
  margin-top: 20px;
}

.about .btn img {
  width: 20px;
  height: 20px;
}

.btn .container-about-button a {
  color: #fff;
  font-size: 1.2rem;
  padding: 14px 20px;
  border: 1px solid #88abdb;
  border-radius: 10px;
  cursor: pointer;
  transition: 350ms;
  text-decoration: none;
}
.about .btn a:hover {
  background-color: #88abdb;
  color: white;
}

@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about .container-about {
    margin: 6px 0px;
  }
  .about .image {
    margin-top: 40px;
  }
}

@media screen and (max-width: 640px) {
  .about {
    height: 100%;
  }

  .about img {
    height: 200px;
    width: 230px;
  }
}

/* Skill */
.container-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #333;
  height: 100%;
}

.container-skill h1 {
  margin-top: 2rem;
  color: #fff;
}
.container-skill .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0rem;
}

.container-skill .cards .box {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.185);
  width: 140px;
  height: 140px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-skill .cards .box p {
  margin: 0.2rem 0rem;
  color: #88abdb;
}

.container-skill .cards .box img {
  font-size: 3rem;
  height: 45px;
  width: 45px;
}

.container-skill .cards .box:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.6s;
}
.container-skill .container-tool {
  display: flex;
  flex-direction: column;
  width: 380px;
}
.container-skill .container-tool h1 {
  text-align: center;
  color: #fff;
}
.container-skill .container-tool .tool {
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 10px;
}

@media screen and (max-width: 765px) {
  .container-skill .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0% 22%;
  }
}

@media screen and (max-width: 600px) {
  .container-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Projeto */
.container-cards .wrapper {
  position: relative;
  width: 510px;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;

  border-bottom: 3px solid #88abdb;
}

.wrapper:hover {
  height: 310px;
  border-bottom: 3px solid #88abdb;
}

.wrapper .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper .imgBx img {
  max-width: 100%;
  opacity: 0.4;
  transition: 0.5s;
}

.wrapper:hover .imgBx img {
  opacity: 1;
  transform: scale(1.03);
}

.wrapper:hover .cover {
  opacity: 0;
}

.wrapper:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
}

.wrapper::before,
.wrapper::after {
  background-color: rgba(17, 17, 17, 0.65);
}

.wrapper .content {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.wrapper {
  margin: 3rem 0rem;
}

.wrapper:hover .content {
  opacity: 1;
}

.wrapper .content a {
  margin-top: 0.4rem;
  color: #fff;
  background-color: #88abdb;
  font-size: 1.1rem;
  padding: 2px;
  border: 1px solid #88abdb;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.wrapper .content a:hover {
  opacity: 0.8;
}

.wrapper .content p {
  color: #fff;
}

.container-cards .wrapper .cover {
  position: absolute;
  font-size: 20px;
  color: #fff;

  z-index: 10;
}

.wrapper .cover img {
  height: 25px;
  width: 25px;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* parte de cima card */

.project {
  height: 100%;
  background-color: #333;
}

.project_left h2 {
  color: #fff;
  margin-left: 40px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #88abdb, transparent);
  width: 30%;
}
.project h1 {
  text-align: center;
  color: #fff;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all_project {
  background-color: #333;
  height: 100%;
}

.all_project h2 {
  color: #fff;
  margin-left: 40px;
  white-space: nowrap;
  background-image: linear-gradient(to right, #88abdb, transparent);
  width: 30%;
}

.all_project .container-cards {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 530px) {
  .container-cards .wrapper {
    width: 400px;

    height: 199px;
  }

  .wrapper:hover {
    height: 260px;
    border-bottom: 3px solid #88abdb;
  }
}

@media screen and (max-width: 400px) {
  .container-cards .wrapper {
    width: 300px;
    height: 150px;
  }

  .wrapper:hover {
    height: 210px;
    border-bottom: 3px solid #88abdb;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #88abdb;
  font-weight: 500;
}
.footer span {
  color: #ddd;
}

/* animation */
[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="safe"] {
  transform: translate3d(0, -50px, 0);
}

[data-anime="ocult"] {
  transform: translate3d(0, 0, 0);
  transition-delay: 0.5s;
}

[data-anime="fixed"] {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  background-color: #88abdb;
  border-radius: 20px;
  border: 1px solid #ddd;
}

/* Modal */

.modal {
  display: flex;
  flex-direction: column;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;

  background-color: #222;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;

  animation: fade 1s;

  z-index: 5;
}

.modal .close-modal {
  width: 100px;
  cursor: pointer;
  border: none;
  background-color: #88abdb;
  color: #fff;
  border-radius: 10px;
  padding: 6px;
  transition: 0.3s all ease-in-out;
}

.close-modal:hover {
  color: #333;
}

.modal.hidden {
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.modal .top {
  display: flex;
  justify-content: space-around;
}

.modal .top .video {
  display: flex;
  justify-content: center;

  margin: 0.8rem 0rem;
}

.modal .top .video iframe {
  width: 59.8rem;
  height: 33.6rem;
}

.links a {
  text-decoration: none;
  background-color: #88abdb;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  border: none;
  padding: 6px;
  border-radius: 10px;
  display: inline-block;
}

.links a:hover {
  color: #333;
  transition: 0.3s all ease-in-out;
}

.top .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.info .title h2 {
  font-size: 2.2rem;
  color: #88abdb;
}

.info p {
  color: #ddd;
  margin: 20px 0px;
}

.info span {
  color: #88abdb;
}

@media screen and (max-width: 1650px) {
  .modal .top .video iframe {
    width: 40rem;
    height: 22rem;
  }
}

@media screen and (max-width: 1200px) {
  .modal .top .video iframe {
    width: 30rem;
    height: 17rem;
  }

  .info p {
    font-size: 12px;
  }
}

@media screen and (max-width: 970px) {
  .top {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .close-modal {
    font-size: 0.8rem;
  }

  .modal .top .video iframe {
    width: 24rem;
    height: 12rem;
  }

  .info .title h2 {
    font-size: 1.4rem;
  }

  .links a {
    margin: 0;
    padding: 3px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .links a {
    font-size: 0.8rem;
  }

  .top .info {
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .modal .top .video iframe {
    width: 16rem;
    height: 9rem;
  }

  .top .info {
    padding: 0;
  }

  .links a {
    padding: 3px;
  }
}
